:root {
  color-scheme: dark;
}
html {
  scrollbar-gutter: unset;
  scrollbar-width: thin;
}
body {
  font-family: 'Moralerspace Krypton NF', 'Monaspace Krypton', MyricaM, 'MyricaM M',
    'Source Code Pro', 'Ubuntu Mono', 'Ubuntu Monospace', Consolas, monospace;
  color: #abb2bf;
  background-color: #282c34;
}

h1 {
  text-align: center;
}
button {
  border-radius: 2px;
  padding: 4px 16px;
  text-align: center;
  color: #282c34;
  background-color: #abb2bfdd;
}
textarea {
  padding: 4px;
  border-radius: 4px;
  border: 3px solid #abb2bf;
  /* Visual Studio like */
  color: #ccc;
  background-color: #1f1f1f;
}

#landing {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

#playground {
  padding: 8px 12px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 12px;
}
.heading_and_button {
  display: flex;
  justify-content: space-between;
}
.heading {
  font-size: 1.4em;
  font-weight: bold;
}
#input_area {
  height: 100%;
}
#output_area {
  min-height: 180px;
}

#langdesc {
  margin: 12px 8px;
}
